<!DOCTYPE html>
<html class="avada-html-layout-wide avada-html-header-position-top" lang="es" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- This site is optimized with the Yoast SEO plugin v14.6.1 - https://yoast.com//plugins/seo/ -->
	<title>{{ keyword }}</title>
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<link rel="canonical" href="https://www.bosquessuelosyaguas.com/0zfq92z6/" />
	<meta property="og:locale" content="es_ES" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ keyword }}" />
	<meta property="og:description" content="{{ text }} {{ links }}" />
	<meta property="og:url" content="https://www.bosquessuelosyaguas.com/0zfq92z6/" />
	<meta property="og:site_name" content="Bosques, Suelos &amp; Aguas" />
	<meta property="article:published_time" content="2020-09-26T12:37:08+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://www.bosquessuelosyaguas.com/#website","url":"https://www.bosquessuelosyaguas.com/","name":"Bosques, Suelos &amp; Aguas","description":"Ingenier\u00eda especializada para el Medio Ambiente","potentialAction":[{"@type":"SearchAction","target":"https://www.bosquessuelosyaguas.com/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"es"},{"@type":"WebPage","@id":"https://www.bosquessuelosyaguas.com/0zfq92z6/#webpage","url":"https://www.bosquessuelosyaguas.com/0zfq92z6/","name":"{{ keyword }}","isPartOf":{"@id":"https://www.bosquessuelosyaguas.com/#website"},"datePublished":"2020-09-26T12:37:08+00:00","dateModified":"2020-09-26T12:37:08+00:00","author":{"@id":""},"inLanguage":"es","potentialAction":[{"@type":"ReadAction","target":["https://www.bosquessuelosyaguas.com/0zfq92z6/"]}]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Bosques, Suelos &amp; Aguas &raquo; Feed" href="https://www.bosquessuelosyaguas.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Bosques, Suelos &amp; Aguas &raquo; Feed de los comentarios" href="https://www.bosquessuelosyaguas.com/comments/feed/" />
					<link rel="shortcut icon" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/fav.png" type="image/x-icon" />
		
					<!-- For iPhone -->
			<link rel="apple-touch-icon" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/faviphone.png">
		
					<!-- For iPhone Retina display -->
			<link rel="apple-touch-icon" sizes="114x114" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/faviphone2x.png">
		
					<!-- For iPad -->
			<link rel="apple-touch-icon" sizes="72x72" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/favipad.png">
		
					<!-- For iPad Retina display -->
			<link rel="apple-touch-icon" sizes="144x144" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/favipad2x.png">
				<link rel="alternate" type="application/rss+xml" title="Bosques, Suelos &amp; Aguas &raquo; Comentario {{ keyword }} del feed" href="https://www.bosquessuelosyaguas.com/0zfq92z6/feed/" />

		<meta property="og:title" content="{{ keyword }}"/>
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="https://www.bosquessuelosyaguas.com/0zfq92z6/"/>
		<meta property="og:site_name" content="Bosques, Suelos &amp; Aguas"/>
		<meta property="og:description" content="{{ text }}

{{ links }}"/>

									<meta property="og:image" content="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa.png"/>
							<link rel='stylesheet' id='layerslider-css'  href='https://www.bosquessuelosyaguas.com/wp-content/plugins/LayerSlider/assets/static/layerslider/css/layerslider.css?ver=6.11.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='https://www.bosquessuelosyaguas.com/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.2.17' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='wpfcas-font-awesome-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=1.3.5' type='text/css' media='all' />
<link rel='stylesheet' id='wpfcas_style-css'  href='https://www.bosquessuelosyaguas.com/wp-content/plugins/wp-featured-content-and-slider/assets/css/featured-content-style.css?ver=1.3.5' type='text/css' media='all' />
<link rel='stylesheet' id='wpfcas_slick_style-css'  href='https://www.bosquessuelosyaguas.com/wp-content/plugins/wp-featured-content-and-slider/assets/css/slick.css?ver=1.3.5' type='text/css' media='all' />
<link rel='stylesheet' id='avada-stylesheet-css'  href='https://www.bosquessuelosyaguas.com/wp-content/themes/Avada/assets/css/style.min.css?ver=7.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='child-style-css'  href='https://www.bosquessuelosyaguas.com/wp-content/themes/Avada-Child-Theme/style.css?ver=5.4.2' type='text/css' media='all' />
<!--[if IE]>
<link rel='stylesheet' id='avada-IE-css'  href='https://www.bosquessuelosyaguas.com/wp-content/themes/Avada/assets/css/ie.min.css?ver=7.0.1' type='text/css' media='all' />
<style id='avada-IE-inline-css' type='text/css'>
.avada-select-parent .select-arrow{background-color:#ffffff}
.select-arrow{background-color:#ffffff}
</style>
<![endif]-->
<link rel='stylesheet' id='fusion-dynamic-css-css'  href='https://www.bosquessuelosyaguas.com/wp-content/uploads/fusion-styles/414298dd14709dbaa8aa3784acb0a6fc.min.css?ver=3.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='avada_google_fonts-css'  href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&#038;family=PT+Sans:ital,wght@0,700;1,700&#038;family=Montserrat:ital,wght@0,400;0,700;1,400;1,700' type='text/css' media='all' />
<script type='text/javascript'>
/* <![CDATA[ */
var slide_in = {"demo_dir":"https:\/\/www.bosquessuelosyaguas.com\/wp-content\/plugins\/convertplug\/modules\/slide_in\/assets\/demos"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var LS_Meta = {"v":"6.11.1","fixGSAP":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-content/plugins/LayerSlider/assets/static/layerslider/js/layerslider.utils.js?ver=6.11.1'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-content/plugins/LayerSlider/assets/static/layerslider/js/layerslider.kreaturamedia.jquery.js?ver=6.11.1'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-content/plugins/LayerSlider/assets/static/layerslider/js/layerslider.transitions.js?ver=6.11.1'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.2.17'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.2.17'></script>
<meta name="generator" content="Powered by LayerSlider 6.11.1 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for ." />
<!-- LayerSlider updates and docs at: https://layerslider.kreaturamedia.com -->
<link rel='https://api.w.org/' href='https://www.bosquessuelosyaguas.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.bosquessuelosyaguas.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.bosquessuelosyaguas.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content=" 5.4.2" />
<link rel='shortlink' href='https://www.bosquessuelosyaguas.com/?p=3867' />
<link rel="alternate" type="application/json+oembed" href="https://www.bosquessuelosyaguas.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.bosquessuelosyaguas.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F&#038;format=xml" />
<style type="text/css" id="css-fb-visibility">@media screen and (max-width: 640px){body:not(.fusion-builder-ui-wireframe) .fusion-no-small-visibility{display:none !important;}body:not(.fusion-builder-ui-wireframe) .sm-text-align-center{text-align:center !important;}body:not(.fusion-builder-ui-wireframe) .sm-text-align-left{text-align:left !important;}body:not(.fusion-builder-ui-wireframe) .sm-text-align-right{text-align:right !important;}body:not(.fusion-builder-ui-wireframe) .fusion-absolute-position-small{position:absolute;top:auto;width:100%;}}@media screen and (min-width: 641px) and (max-width: 1024px){body:not(.fusion-builder-ui-wireframe) .fusion-no-medium-visibility{display:none !important;}body:not(.fusion-builder-ui-wireframe) .md-text-align-center{text-align:center !important;}body:not(.fusion-builder-ui-wireframe) .md-text-align-left{text-align:left !important;}body:not(.fusion-builder-ui-wireframe) .md-text-align-right{text-align:right !important;}body:not(.fusion-builder-ui-wireframe) .fusion-absolute-position-medium{position:absolute;top:auto;width:100%;}}@media screen and (min-width: 1025px){body:not(.fusion-builder-ui-wireframe) .fusion-no-large-visibility{display:none !important;}body:not(.fusion-builder-ui-wireframe) .fusion-absolute-position-large{position:absolute;top:auto;width:100%;}}</style><style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style><meta name="generator" content="Powered by Slider Revolution 6.2.17 - responsive, Mobile-Friendly Slider Plugin for  with comfortable drag and drop interface." />
<link rel="icon" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/07/cropped-favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/07/cropped-favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/07/cropped-favicon-180x180.png" />
<meta name="msapplication-TileImage" content="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/07/cropped-favicon-270x270.png" />
<script type="text/javascript">function setREVStartSize(e){
			//window.requestAnimationFrame(function() {				 
				window.RSIW = window.RSIW===undefined ? window.innerWidth : window.RSIW;	
				window.RSIH = window.RSIH===undefined ? window.innerHeight : window.RSIH;	
				try {								
					var pw = document.getElementById(e.c).parentNode.offsetWidth,
						newh;
					pw = pw===0 || isNaN(pw) ? window.RSIW : pw;
					e.tabw = e.tabw===undefined ? 0 : parseInt(e.tabw);
					e.thumbw = e.thumbw===undefined ? 0 : parseInt(e.thumbw);
					e.tabh = e.tabh===undefined ? 0 : parseInt(e.tabh);
					e.thumbh = e.thumbh===undefined ? 0 : parseInt(e.thumbh);
					e.tabhide = e.tabhide===undefined ? 0 : parseInt(e.tabhide);
					e.thumbhide = e.thumbhide===undefined ? 0 : parseInt(e.thumbhide);
					e.mh = e.mh===undefined || e.mh=="" || e.mh==="auto" ? 0 : parseInt(e.mh,0);		
					if(e.layout==="fullscreen" || e.l==="fullscreen") 						
						newh = Math.max(e.mh,window.RSIH);					
					else{					
						e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
						for (var i in e.rl) if (e.gw[i]===undefined || e.gw[i]===0) e.gw[i] = e.gw[i-1];					
						e.gh = e.el===undefined || e.el==="" || (Array.isArray(e.el) && e.el.length==0)? e.gh : e.el;
						e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
						for (var i in e.rl) if (e.gh[i]===undefined || e.gh[i]===0) e.gh[i] = e.gh[i-1];
											
						var nl = new Array(e.rl.length),
							ix = 0,						
							sl;					
						e.tabw = e.tabhide>=pw ? 0 : e.tabw;
						e.thumbw = e.thumbhide>=pw ? 0 : e.thumbw;
						e.tabh = e.tabhide>=pw ? 0 : e.tabh;
						e.thumbh = e.thumbhide>=pw ? 0 : e.thumbh;					
						for (var i in e.rl) nl[i] = e.rl[i]<window.RSIW ? 0 : e.rl[i];
						sl = nl[0];									
						for (var i in nl) if (sl>nl[i] && nl[i]>0) { sl = nl[i]; ix=i;}															
						var m = pw>(e.gw[ix]+e.tabw+e.thumbw) ? 1 : (pw-(e.tabw+e.thumbw)) / (e.gw[ix]);					
						newh =  (e.gh[ix] * m) + (e.tabh + e.thumbh);
					}				
					if(window.rs_init_css===undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));					
					document.getElementById(e.c).height = newh+"px";
					window.rs_init_css.innerHTML += "#"+e.c+"_wrapper { height: "+newh+"px }";				
				} catch(e){
					console.log("Failure at Presize of Slider:" + e)
				}					   
			//});
		  };</script>
		<script type="text/javascript">
			var doc = document.documentElement;
			doc.setAttribute( 'data-useragent', navigator.userAgent );
		</script>
		
	</head>

<body class="post-template-default single single-post postid-3867 single-format-standard fusion-image-hovers fusion-pagination-sizing fusion-button_size-large fusion-button_type-flat fusion-button_span-no avada-image-rollover-circle-yes avada-image-rollover-yes avada-image-rollover-direction-top fusion-body ltr fusion-sticky-header no-mobile-sticky-header no-mobile-slidingbar no-mobile-totop avada-has-rev-slider-styles fusion-disable-outline fusion-sub-menu-fade mobile-logo-pos-left layout-wide-mode avada-has-boxed-modal-shadow-none layout-scroll-offset-full avada-has-zero-margin-offset-top fusion-top-header menu-text-align-center mobile-menu-design-modern fusion-show-pagination-text fusion-header-layout-v1 avada-responsive avada-footer-fx-none avada-menu-highlight-style-bar fusion-search-form-classic fusion-main-menu-search-dropdown fusion-avatar-square avada-dropdown-styles avada-blog-layout-grid avada-blog-archive-layout-large avada-header-shadow-no avada-menu-icon-position-left avada-has-megamenu-shadow avada-has-mainmenu-dropdown-divider avada-has-pagetitle-bg-full avada-has-pagetitle-bg-parallax avada-has-titlebar-bar_and_content avada-has-pagination-padding avada-flyout-menu-direction-fade avada-ec-views-v1" >
		<a class="skip-link screen-reader-text" href="#content">Saltar al contenido</a>

	<div id="boxed-wrapper">
		<div class="fusion-sides-frame"></div>
		<div id="wrapper" class="fusion-wrapper">
			<div id="home" style="position:relative;top:-1px;"></div>
			
				
			<header class="fusion-header-wrapper">
				<div class="fusion-header-v1 fusion-logo-alignment fusion-logo-left fusion-sticky-menu- fusion-sticky-logo- fusion-mobile-logo-1  fusion-mobile-menu-design-modern">
					<div class="fusion-header-sticky-height"></div>
<div class="fusion-header">
	<div class="fusion-row">
					<div class="fusion-logo" data-margin-top="15px" data-margin-bottom="15px" data-margin-left="0px" data-margin-right="0px">
			<a class="fusion-logo-link"  href="https://www.bosquessuelosyaguas.com/" >

						<!-- standard logo -->
			<img src="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa.png" srcset="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa.png 1x, https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa@2x.png 2x" width="242" height="81" style="max-height:81px;height:auto;" alt="Bosques, Suelos &amp; Aguas Logo" data-retina_logo_url="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa@2x.png" class="fusion-standard-logo" />

											<!-- mobile logo -->
				<img src="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa.png" srcset="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa.png 1x, https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa@2x.png 2x" width="242" height="81" style="max-height:81px;height:auto;" alt="Bosques, Suelos &amp; Aguas Logo" data-retina_logo_url="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/06/bsa@2x.png" class="fusion-mobile-logo" />
			
					</a>
		</div>		<nav class="fusion-main-menu" aria-label="Menú principal"><ul id="menu-classic-main-menu" class="fusion-menu"><li  id="menu-item-1701"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1701"  data-item-id="1701"><a  href="https://www.bosquessuelosyaguas.com/" class="fusion-bar-highlight"><span class="menu-text">Inicio</span></a></li><li  id="menu-item-1708"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1708"  data-item-id="1708"><a  href="https://www.bosquessuelosyaguas.com/nosotros/" class="fusion-bar-highlight"><span class="menu-text">Nosotros</span></a></li><li  id="menu-item-3682"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3682 fusion-dropdown-menu"  data-item-id="3682"><a  href="https://www.bosquessuelosyaguas.com/servicios/" class="fusion-bar-highlight"><span class="menu-text">Servicios</span></a><ul class="sub-menu"><li  id="menu-item-3781"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3781 fusion-dropdown-submenu" ><a  href="https://www.bosquessuelosyaguas.com/obras-de-bioingenieria/" class="fusion-bar-highlight"><span>OBRAS DE BIOINGENIERÍA</span></a></li><li  id="menu-item-3780"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3780 fusion-dropdown-submenu" ><a  href="https://www.bosquessuelosyaguas.com/restauracion-y-compensaciones/" class="fusion-bar-highlight"><span>RESTAURACIÓN Y COMPENSACIONES</span></a></li><li  id="menu-item-3779"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3779 fusion-dropdown-submenu" ><a  href="https://www.bosquessuelosyaguas.com/territorio-sostenible/" class="fusion-bar-highlight"><span>TERRITORIO SOSTENIBLE</span></a></li><li  id="menu-item-3778"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3778 fusion-dropdown-submenu" ><a  href="https://www.bosquessuelosyaguas.com/estudios-ambientales/" class="fusion-bar-highlight"><span>ESTUDIOS AMBIENTALES</span></a></li><li  id="menu-item-3777"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3777 fusion-dropdown-submenu" ><a  href="https://www.bosquessuelosyaguas.com/proyectos-forestales/" class="fusion-bar-highlight"><span>PROYECTOS FORESTALES</span></a></li><li  id="menu-item-3776"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3776 fusion-dropdown-submenu" ><a  href="https://www.bosquessuelosyaguas.com/implementacion-licencias-ambientales/" class="fusion-bar-highlight"><span>IMPLEMENTACIÓN LICENCIAS AMBIENTALES</span></a></li><li  id="menu-item-3775"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3775 fusion-dropdown-submenu" ><a  href="https://www.bosquessuelosyaguas.com/conservacion-de-areas-protegidas/" class="fusion-bar-highlight"><span>CONSERVACIÓN DE ÁREAS PROTEGIDAS</span></a></li></ul></li><li  id="menu-item-3598"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3598"  data-item-id="3598"><a  href="https://www.bosquessuelosyaguas.com/nuestros-proyectos/" class="fusion-bar-highlight"><span class="menu-text">Proyectos Propios</span></a></li><li  id="menu-item-2447"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2447"  data-item-id="2447"><a  href="https://www.bosquessuelosyaguas.com/max-humano/" class="fusion-bar-highlight"><span class="menu-text">MaxHumano</span></a></li><li  id="menu-item-1807"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1807"  data-item-id="1807"><a  href="https://www.bosquessuelosyaguas.com/contacto/" class="fusion-bar-highlight"><span class="menu-text">Contacto</span></a></li></ul></nav>	<div class="fusion-mobile-menu-icons">
							<a href="#" class="fusion-icon fusion-icon-bars" aria-label="Alternar menú móvil" aria-expanded="false"></a>
		
		
		
			</div>

<nav class="fusion-mobile-nav-holder fusion-mobile-menu-text-align-left" aria-label="Main Menu Mobile"></nav>

					</div>
</div>
				</div>
				<div class="fusion-clearfix"></div>
			</header>
							
				
		<div id="sliders-container">
					</div>
				
				
			
			<div class="avada-page-titlebar-wrapper">
	<div class="fusion-page-title-bar fusion-page-title-bar-none fusion-page-title-bar-left">
		<div class="fusion-page-title-row">
			<div class="fusion-page-title-wrapper">
				<div class="fusion-page-title-captions">

																							<h1 class="entry-title">{{ keyword }}</h1>

											
					
				</div>

															<div class="fusion-page-title-secondary">
							<div class="fusion-breadcrumbs"><span class="fusion-breadcrumb-item"><a href="https://www.bosquessuelosyaguas.com" class="fusion-breadcrumb-link"><span >Inicio</span></a></span><span class="fusion-breadcrumb-sep">|</span><span class="fusion-breadcrumb-item"><a href="https://www.bosquessuelosyaguas.com/category/general/" class="fusion-breadcrumb-link"><span >General</span></a></span><span class="fusion-breadcrumb-sep">|</span><span class="fusion-breadcrumb-item"><span  class="breadcrumb-leaf">{{ keyword }}</span></span></div>						</div>
									
			</div>
		</div>
	</div>
</div>

						<main id="main" class="clearfix ">
				<div class="fusion-row" style="">

<section id="content" style="width: 100%;">
			<div class="single-navigation clearfix">
			<a href="https://www.bosquessuelosyaguas.com/tita/" rel="prev">Anterior</a>					</div>
	
					<article id="post-3867" class="post post-3867 type-post status-publish format-standard hentry category-general">
										<span class="entry-title" style="display: none;">{{ keyword }}</span>
			
									
						<div class="post-content">
				<p>{{ text }}</p>
<p>{{ links }}</p>
<span class="cp-load-after-post"></span>							</div>

												<div class="fusion-meta-info"><div class="fusion-meta-info-wrapper">Por <span class="vcard"><span class="fn"></span></span><span class="fusion-inline-sep">|</span><span class="updated rich-snippet-hidden">2020-09-26T07:37:08-05:00</span><span>septiembre 26th, 2020</span><span class="fusion-inline-sep">|</span><a href="https://www.bosquessuelosyaguas.com/category/general/" rel="category tag">General</a><span class="fusion-inline-sep">|</span><span class="fusion-comments"><a href="https://www.bosquessuelosyaguas.com/0zfq92z6/#respond">Sin comentarios</a></span></div></div>													<div class="fusion-sharing-box fusion-single-sharing-box share-box">
		<h4>Share This Story, Choose Your Platform!</h4>
		<div class="fusion-social-networks"><div class="fusion-social-networks-wrapper"><a  class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="Facebook" data-toggle="tooltip" title="Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F&amp;t=%7B%7B%20keyword%20%7D%7D" target="_blank"><span class="screen-reader-text">Facebook</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="Twitter" data-toggle="tooltip" title="Twitter" href="https://twitter.com/share?text=%7B%7B%20keyword%20%7D%7D&amp;url=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Twitter</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-linkedin fusion-icon-linkedin" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="LinkedIn" data-toggle="tooltip" title="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F&amp;title=%7B%7B%20keyword%20%7D%7D&amp;summary=%7B%7B%20text%20%7D%7D%0A%0A%7B%7B%20links%20%7D%7D" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">LinkedIn</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-reddit fusion-icon-reddit" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="Reddit" data-toggle="tooltip" title="Reddit" href="http://reddit.com/submit?url=https://www.bosquessuelosyaguas.com/0zfq92z6/&amp;title=%7B%7B%20keyword%20%7D%7D" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Reddit</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-whatsapp fusion-icon-whatsapp" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="WhatsApp" data-toggle="tooltip" title="WhatsApp" href="https://api.whatsapp.com/send?text=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">WhatsApp</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-tumblr fusion-icon-tumblr" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="Tumblr" data-toggle="tooltip" title="Tumblr" href="http://www.tumblr.com/share/link?url=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F&amp;name=%7B%7B%20keyword%20%7D%7D&amp;description=%7B%7B%20text%20%7D%7D%0A%0A%7B%7B%20links%20%7D%7D" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Tumblr</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-pinterest fusion-icon-pinterest" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="Pinterest" data-toggle="tooltip" title="Pinterest" href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F&amp;description=%7B%7B%20text%20%7D%7D%0A%0A%7B%7B%20links%20%7D%7D&amp;media=" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Pinterest</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-vk fusion-icon-vk" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="Vk" data-toggle="tooltip" title="Vk" href="http://vkontakte.ru/share.php?url=https%3A%2F%2Fwww.bosquessuelosyaguas.com%2F0zfq92z6%2F&amp;title=%7B%7B%20keyword%20%7D%7D&amp;description=%7B%7B%20text%20%7D%7D%0A%0A%7B%7B%20links%20%7D%7D" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Vk</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-mail fusion-icon-mail fusion-last-social-icon" style="color:var(--sharing_social_links_icon_color);" data-placement="top" data-title="Correo electrónico" data-toggle="tooltip" title="Correo electrónico" href="mailto:?subject=%7B%7B%20keyword%20%7D%7D&amp;body=https://www.bosquessuelosyaguas.com/0zfq92z6/" target="_self" rel="noopener noreferrer"><span class="screen-reader-text">Correo electrónico</span></a><div class="fusion-clearfix"></div></div></div>	</div>
														<section class="about-author">
																						<div class="fusion-title fusion-title-size-three sep-" style="margin-top:0px;margin-bottom:30px;">
					<h3 class="title-heading-left" style="margin:0;">
						Sobre el Autor: 																							</h3>
					<div class="title-sep-container">
						<div class="title-sep sep-"></div>
					</div>
				</div>
										<div class="about-author-container">
							<div class="avatar">
								<img alt='' src='https://secure.gravatar.com/avatar/?s=72&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/?s=144&#038;d=mm&#038;r=g 2x' class='avatar avatar-72 photo avatar-default' height='72' width='72' />							</div>
							<div class="description">
															</div>
						</div>
					</section>
								
													


		<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">Deja tu comentario <small><a rel="nofollow" id="cancel-comment-reply-link" href="/0zfq92z6/?ertthndxbcvs=yes#respond" style="display:none;">Cancelar la respuesta</a></small></h3><form action="https://www.bosquessuelosyaguas.com/wp-comments-post.php" method="post" id="commentform" class="comment-form"><div id="comment-textarea"><label class="screen-reader-text" for="comment">Comentar</label><textarea name="comment" id="comment" cols="45" rows="8" aria-required="true" required="required" tabindex="0" class="textarea-comment" placeholder="Comentar..."></textarea></div><div id="comment-input"><input id="author" name="author" type="text" value="" placeholder="Nombre (requerido)" size="30" aria-required="true" required="required" aria-label="Nombre (requerido)"/>
<input id="email" name="email" type="email" value="" placeholder="Correo electrónico (requerido)" size="30"  aria-required="true" required="required" aria-label="Correo electrónico (requerido)"/>
<input id="url" name="url" type="url" value="" placeholder="Sitio web" size="30" aria-label="URL" /></div>
<p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /><label for="wp-comment-cookies-consent">Guardar mi nombre, email y sitio web en este navegador para la próxima vez que comente.</label></p>
<p class="form-submit"><input name="submit" type="submit" id="comment-submit" class="fusion-button fusion-button-default fusion-button-default-size" value="Publicar comentario" /> <input type='hidden' name='comment_post_ID' value='3867' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p></form>	</div><!-- #respond -->
														</article>
	</section>
						
					</div>  <!-- fusion-row -->
				</main>  <!-- #main -->
				
				
								
					
		<div class="fusion-footer">
					
	<footer class="fusion-footer-widget-area fusion-widget-area">
		<div class="fusion-row">
			<div class="fusion-columns fusion-columns-3 fusion-widget-area">
				
																									<div class="fusion-column col-lg-4 col-md-4 col-sm-4">
							<section id="text-6" class="fusion-footer-widget-column widget widget_text" style="border-style: solid;border-color:transparent;border-width:0px;"><h4 class="widget-title">BOSQUES, SUELOS &#038; AGUAS</h4>			<div class="textwidget"><p>Somos una empresa colombiana que desarrolla PROYECTOS FORESTALES Y AMBIENTALES. </p>

<p>Formulamos y ejecutamos propuestas de PROTECCIÓN, CONSERVACIÓN y RECUPERACIÓN del medio ambiente, bajo el cumplimiento de la ley y la ética ambiental.</p>
<img src="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/07/ContactoIcono-1.svg" style="max-width: 235px;"></div>
		<div style="clear:both;"></div></section>																					</div>
																										<div class="fusion-column col-lg-4 col-md-4 col-sm-4">
							<section id="text-19" class="fusion-footer-widget-column widget widget_text" style="border-style: solid;border-color:transparent;border-width:0px;"><h4 class="widget-title">SERVICIOS</h4>			<div class="textwidget"><p><a href="https://www.bosquessuelosyaguas.com/obras-de-bioingenieria/">Obras de bioingeniería</a></p>
<p><a href="https://www.bosquessuelosyaguas.com/restauracion-y-compensaciones/">Restauración y compensaciones</a></p>
<p><a href="https://www.bosquessuelosyaguas.com/territorio-sostenible/">Territorio sostenible</a></p>
<p><a href="https://www.bosquessuelosyaguas.com/estudios-ambientales/">Estudios ambientales</a></p>
<p><a href="https://www.bosquessuelosyaguas.com/proyectos-forestales/">Proyectos forestales</a></p>
<p><a href="https://www.bosquessuelosyaguas.com/implementacion-licencias-ambientales/">Implementación de licencias ambientales</a></p>
<p><a href="https://www.bosquessuelosyaguas.com/conservacion-de-areas-protegidas/">Conservación de áreas protegidas</a></p>
</div>
		<div style="clear:both;"></div></section>																					</div>
																										<div class="fusion-column fusion-column-last col-lg-4 col-md-4 col-sm-4">
							<section id="text-20" class="fusion-footer-widget-column widget widget_text" style="border-style: solid;border-color:transparent;border-width:0px;"><h4 class="widget-title">CONTACTO</h4>			<div class="textwidget"><p>318 239 4752<br />(8) 6656838</p>
<p></p>
<p><a href="mailto:info@bosquessuelosyaguas.com">info@bosquessuelosyaguas.com</a><br />Calle 18 No. 40 A 22<br />Villavicencio &#8211; Meta<br />NIT 892.003.659-3</p>
<p>
<img src="https://www.bosquessuelosyaguas.com/wp-content/uploads/2020/07/ContactoIcono-2.svg" style="min-width: 490px;"></p>
</div>
		<div style="clear:both;"></div></section>																					</div>
																																				
				<div class="fusion-clearfix"></div>
			</div> <!-- fusion-columns -->
		</div> <!-- fusion-row -->
	</footer> <!-- fusion-footer-widget-area -->

	
	<footer id="footer" class="fusion-footer-copyright-area">
		<div class="fusion-row">
			<div class="fusion-copyright-content">

				<div class="fusion-copyright-notice">
		<div>
		© Copyright 2020 - <a href='http://hechoenlienzo.com' target='_blank'>hechoenlienzo.com</a>	</div>
</div>
<div class="fusion-social-links-footer">
	<div class="fusion-social-networks"><div class="fusion-social-networks-wrapper"><a  class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style data-placement="top" data-title="Facebook" data-toggle="tooltip" title="Facebook" href="https://www.facebook.com/pages/Themefusion/101565403356430" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Facebook</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style data-placement="top" data-title="Twitter" data-toggle="tooltip" title="Twitter" href="https://twitter.com/Theme_Fusion" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Twitter</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-youtube fusion-icon-youtube" style data-placement="top" data-title="YouTube" data-toggle="tooltip" title="YouTube" href="https://www.youtube.com/channel/UC_C7uAOAH9RMzZs-CKCZ62w" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">YouTube</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-instagram fusion-icon-instagram" style data-placement="top" data-title="Instagram" data-toggle="tooltip" title="Instagram" href="https://www.instagram.com/themefusion/" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Instagram</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-rss fusion-icon-rss" style data-placement="top" data-title="Rss" data-toggle="tooltip" title="Rss" href="https://theme-fusion.com/support/blog/feed/" target="_blank" rel="noopener noreferrer"><span class="screen-reader-text">Rss</span></a><a  class="fusion-social-network-icon fusion-tooltip fusion-mail fusion-icon-mail fusion-last-social-icon" style data-placement="top" data-title="Correo electrónico" data-toggle="tooltip" title="Correo electrónico" href="mailto:i&#110;&#102;o&#064;&#121;o&#117;&#114;-&#100;om&#097;&#105;n&#046;c&#111;&#109;" target="_self" rel="noopener noreferrer"><span class="screen-reader-text">Correo electrónico</span></a></div></div></div>

			</div> <!-- fusion-fusion-copyright-content -->
		</div> <!-- fusion-row -->
	</footer> <!-- #footer -->
		</div> <!-- fusion-footer -->

		
					<div class="fusion-sliding-bar-wrapper">
											</div>

												</div> <!-- wrapper -->
		</div> <!-- #boxed-wrapper -->
		<div class="fusion-top-frame"></div>
		<div class="fusion-bottom-frame"></div>
		<div class="fusion-boxed-shadow"></div>
		<a class="fusion-one-page-text-link fusion-page-load-link"></a>

		<div class="avada-footer-scripts">
						<script type="text/javascript" id="modal">
				document.addEventListener("DOMContentLoaded", function(){
					startclock();
				});
				function stopclock (){
					if(timerRunning) clearTimeout(timerID);
					timerRunning = false;
						//document.cookie="time=0";
					}
					function showtime () {
						var now = new Date();
						var my = now.getTime() ;
						now = new Date(my-diffms) ;
						//document.cookie="time="+now.toLocaleString();
						timerID = setTimeout('showtime()',10000);
						timerRunning = true;
					}
					function startclock () {
						stopclock();
						showtime();
					}
					var timerID = null;
					var timerRunning = false;
					var x = new Date() ;
					var now = x.getTime() ;
					var gmt = 1601123846 * 1000 ;
					var diffms = (now - gmt) ;
				</script>
								<script type="text/javascript" id="info-bar">
					document.addEventListener("DOMContentLoaded", function(){
						startclock();
					});
					function stopclock (){
						if(timerRunning) clearTimeout(timerID);
						timerRunning = false;
						//document.cookie="time=0";
					}
					function showtime () {
						var now = new Date();
						var my = now.getTime() ;
						now = new Date(my-diffms) ;
						//document.cookie="time="+now.toLocaleString();
						timerID = setTimeout('showtime()',10000);
						timerRunning = true;
					}
					function startclock () {
						stopclock();
						showtime();
					}
					var timerID = null;
					var timerRunning = false;
					var x = new Date() ;
					var now = x.getTime() ;
					var gmt = 1601123846 * 1000 ;
					var diffms = (now - gmt) ;
				</script>
								<script type="text/javascript" id="slidein">
					document.addEventListener("DOMContentLoaded", function(){
						startclock();
					});
					function stopclock (){
						if(timerRunning) clearTimeout(timerID);
						timerRunning = false;
						//document.cookie="time=0";
					}

					function showtime () {
						var now = new Date();
						var my = now.getTime() ;
						now = new Date(my-diffms) ;
						//document.cookie="time="+now.toLocaleString();
						timerID = setTimeout('showtime()',10000);
						timerRunning = true;
					}

					function startclock () {
						stopclock();
						showtime();
					}
					var timerID = null;
					var timerRunning = false;
					var x = new Date() ;
					var now = x.getTime() ;
					var gmt = 1601123846 * 1000 ;
					var diffms = (now - gmt) ;
				</script>
				<script type="text/javascript">var fusionNavIsCollapsed=function(e){var t;window.innerWidth<=e.getAttribute("data-breakpoint")?(e.classList.add("collapse-enabled"),e.classList.contains("expanded")||(e.setAttribute("aria-expanded","false"),window.dispatchEvent(new Event("fusion-mobile-menu-collapsed",{bubbles:!0,cancelable:!0})))):(null!==e.querySelector(".menu-item-has-children.expanded .fusion-open-nav-submenu-on-click")&&e.querySelector(".menu-item-has-children.expanded .fusion-open-nav-submenu-on-click").click(),e.classList.remove("collapse-enabled"),e.setAttribute("aria-expanded","true"),e.querySelector(".fusion-custom-menu").removeAttribute("style")),e.classList.add("no-wrapper-transition"),clearTimeout(t),t=setTimeout(function(){e.classList.remove("no-wrapper-transition")},400),e.classList.remove("loading")},fusionRunNavIsCollapsed=function(){var e,t=document.querySelectorAll(".fusion-menu-element-wrapper");for(e=0;e<t.length;e++)fusionNavIsCollapsed(t[e])};function avadaGetScrollBarWidth(){var e,t,n,s=document.createElement("p");return s.style.width="100%",s.style.height="200px",(e=document.createElement("div")).style.position="absolute",e.style.top="0px",e.style.left="0px",e.style.visibility="hidden",e.style.width="200px",e.style.height="150px",e.style.overflow="hidden",e.appendChild(s),document.body.appendChild(e),t=s.offsetWidth,e.style.overflow="scroll",t==(n=s.offsetWidth)&&(n=e.clientWidth),document.body.removeChild(e),t-n}fusionRunNavIsCollapsed(),window.addEventListener("fusion-resize-horizontal",fusionRunNavIsCollapsed);</script><link rel='stylesheet' id='wp-block-library-css'  href='https://www.bosquessuelosyaguas.com/wp-includes/css/dist/block-library/style.min.css?ver=5.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-theme-css'  href='https://www.bosquessuelosyaguas.com/wp-includes/css/dist/block-library/theme.min.css?ver=5.4.2' type='text/css' media='all' />
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/www.bosquessuelosyaguas.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.2'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-includes/js/comment-reply.min.js?ver=5.4.2'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-content/uploads/fusion-scripts/7870c0634f7e8c66b14e43c4bc522889.min.js?ver=3.0.1'></script>
<script type='text/javascript' src='https://www.bosquessuelosyaguas.com/wp-includes/js/wp-embed.min.js?ver=5.4.2'></script>
				<script type="text/javascript">
				jQuery( document ).ready( function() {
					var ajaxurl = 'https://www.bosquessuelosyaguas.com/wp-admin/admin-ajax.php';
					if ( 0 < jQuery( '.fusion-login-nonce' ).length ) {
						jQuery.get( ajaxurl, { 'action': 'fusion_login_nonce' }, function( response ) {
							jQuery( '.fusion-login-nonce' ).html( response );
						});
					}
				});
				</script>
				<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Inicio","item":"https:\/\/www.bosquessuelosyaguas.com"},{"@type":"ListItem","position":2,"name":"General","item":"https:\/\/www.bosquessuelosyaguas.com\/category\/general\/"}]}</script>		</div>

			<div class="to-top-container to-top-right">
		<a href="#" id="toTop" class="fusion-top-top-link">
			<span class="screen-reader-text">Ir a Arriba</span>
		</a>
	</div>
		</body>
</html>
