.elementor-474 .elementor-element.elementor-element-f9fe65f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-474 .elementor-element.elementor-element-42886b8.elementor-widget-heading .elementor-heading-title{color:#ffffff;}.elementor-474 .elementor-element.elementor-element-42886b8 .elementor-heading-title{font-size:68px;font-weight:900;letter-spacing:3.7px;text-shadow:2px 3px 10px #000000;}.elementor-474 .elementor-element.elementor-element-7a7ad9c:not(.elementor-motion-effects-element-type-background), .elementor-474 .elementor-element.elementor-element-7a7ad9c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://bosques.imaginalaweb.ml/wp-content/uploads/2019/07/Banner-1.jpg");background-position:bottom center;background-repeat:no-repeat;background-size:cover;}.elementor-474 .elementor-element.elementor-element-7a7ad9c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:35px;padding:120px 0px 90px 0px;}.elementor-474 .elementor-element.elementor-element-7a7ad9c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-474 .elementor-element.elementor-element-7a7ad9c > .elementor-shape-bottom svg{height:50px;}.elementor-474 .elementor-element.elementor-element-7a7ad9c > .elementor-container{text-align:center;}.elementor-474 .elementor-element.elementor-element-526428b3{margin-top:0px;margin-bottom:80px;}/* Start custom CSS for page-settings */.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #818118;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #007b00;
}

@media (min-width: 720px) {
.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 58%;
    display: inline-block;
    float: left;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    width: 100%;
}

#order_review {
    width: 40%;
    display: inline-block;
    float: right;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 100%;
}

.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses {
    width: 100%;
    display: inline-block;
}

.woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1, .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
    width: 48%;
}
}/* End custom CSS */