.elementor-473 .elementor-element.elementor-element-261d6a3 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-473 .elementor-element.elementor-element-436a072.elementor-widget-heading .elementor-heading-title{color:#ffffff;}.elementor-473 .elementor-element.elementor-element-436a072 .elementor-heading-title{font-size:68px;font-weight:900;letter-spacing:3.7px;text-shadow:2px 3px 10px #000000;}.elementor-473 .elementor-element.elementor-element-f096207:not(.elementor-motion-effects-element-type-background), .elementor-473 .elementor-element.elementor-element-f096207 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.bosquessuelosyaguas.com/wp-content/uploads/2019/07/Banner-1.jpg");background-position:bottom center;background-repeat:no-repeat;background-size:cover;}.elementor-473 .elementor-element.elementor-element-f096207{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:35px;padding:120px 0px 90px 0px;}.elementor-473 .elementor-element.elementor-element-f096207 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-473 .elementor-element.elementor-element-f096207 > .elementor-shape-bottom svg{height:50px;}.elementor-473 .elementor-element.elementor-element-f096207 > .elementor-container{text-align:center;}/* Start custom CSS for page-settings */.elementor-flip-box__front {
    box-shadow: 3px 3px 10px rgba(72, 72, 72, 0.22);
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #818118;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #007b00;
}/* End custom CSS */